{% extends "dashboard.html" %}

{% block content %}
<h1 class="index-title">Dashboard</h1>
<div class="graficas">
    <div class = "grafica" id="grafica graficaGrande" ></div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var trace = {
        y: [113, 109,94,93,85,76,68,62,57,57,42,42,35,20,18,11, 5, 5,
  4,   2,   1],
        x: [11, 10, 13, 14, 12, 16, 15, 9, 18, 17, 19, 8, 20, 21, 22, 23, 0, 7, 1,
        6, 5]
        ,
        type: 'bar'
    };

    var data = [trace];   

    // Renderiza la gráfica en el div con id "grafica"
    Plotly.newPlot('grafica', data);
</script>
{% endblock %}