{% extends "dashboard.html" %}

{% block content %}
<h1 class="index-title">Dashboard</h1>
<div class="graficas">
    <div class = "grafica" id="grafica" ></div>
    <div class = "grafica" id="grafica2"></div>
    <div class = "grafica graficaGrande" id="grafica3"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Datos de la gráfica
    var trace1 = {
        x: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo'], // Eje X (Meses)
        y: [10, 15, 13, 17, 20],  // Eje Y (Ventas)
        type: 'scatter',         // Tipo de gráfica (línea)
        mode: 'lines+markers',   // Agrega líneas y puntos
        name: 'Ventas 2023'
    };

    var trace2 = {
        x: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo'],
        y: [12, 14, 18, 16, 19],
        type: 'scatter',
        mode: 'lines+markers',
        name: 'Ventas 2024'
    };

    // Agrupa las trazas en un array
    var data = [trace1, trace2];

    // Configuración de la gráfica
    var layout = {
        title: 'Ventas Mensuales',
        xaxis: { title: 'Mes' },
        yaxis: { title: 'Cantidad de Ventas' }
    };

    // Renderiza la gráfica en el div con id "grafica"
    Plotly.newPlot('grafica', data, layout);
    Plotly.newPlot('grafica2', data, layout);
    Plotly.newPlot('grafica3', data, layout);
</script>
{% endblock %}