<html>
  <head>
    <title>Simple Polylines</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css"/>
    <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
  </head>
  <body>
    <h1>Trafico en la condesa el día: {{fecha}} a las {{hora}}</h1>
    <div class="controler">
      <form action="/" method="POST">
        <div class="date">
          <label for="date">Escoge el día:</label>
          <select name="date" id="date">
            {% for date in dias %}
              <option value="{{ date }}">{{ date }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="hour">
          <label for="hour">Selecciona la hora (24hrs):</label>
          <!--Limitar input a un numero del 1 al 24-->
          <input type="number" name="hour" id="hour" min="0" max="23" required>
        </select>
        </div>
      
        <input type="submit" value="Submit" class="submit">
      </form>
      
    </div>
    <div id="map"></div>
    
    <script>
  </script>  
  <script>
  const coords = {{ coords | tojson }};  // Convertir coordenadas a JSON válido
  const velocidades = {{ velocidades | tojson }};  // Convertir velocidades a JSON válido
  const FeatureCollection = {{ FeatureCollection | tojson }};  // Convertir FeatureCollection a JSON válido
  
  async function initMap() {
    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
    const center = { lat: 19.4260393, lng: -99.1639232 };
    const map = new Map(document.getElementById("map"), {
      zoom: 13,
      center
    });

    map.data.addGeoJson(FeatureCollection);

    map.data.setStyle((feature) => {
      return /** @type {google.maps.Data.StyleOptions} */ {
        fillColor: feature.getProperty("color"),
        strokeWeight: 1,
      };
    });
    for (const property of properties) {
      const AdvancedMarkerElement = new google.maps.marker.AdvancedMarkerElement({
        map,
        content: buildContent(property),
        position: property.position,
        title: property.description,
      });

      AdvancedMarkerElement.addListener("click", () => {
        toggleHighlight(AdvancedMarkerElement, property);
      });
    }

    const lineSymbol = {
        path: google.maps.SymbolPath.CIRCLE,
        scale: 4,
        strokeColor: "#393",
    };

    coords.forEach((lineCoords, index) => {
    const line = new google.maps.Polyline({
        path: lineCoords,
        icons: [{ icon: lineSymbol, offset: "0%" }],
        map: map,
    });

    animateCircle(line, velocidades[index]); 
    });
  }

  function animateCircle(line, velocidad) {
    let count = 0;

    window.setInterval(() => {
        count = (count + velocidad) % 100;

        const icons = line.get("icons");
        icons[0].offset = count + "%";
        line.set("icons", icons); 
    }, 20); 
  } 

  function toggleHighlight(markerView, property) {
    if (markerView.content.classList.contains("highlight")) {
      markerView.content.classList.remove("highlight");
      markerView.zIndex = null;
    } else {
      markerView.content.classList.add("highlight");
      markerView.zIndex = 1;
    }
  }

  function buildContent(property) {
    const content = document.createElement("div");

    content.classList.add("property");
    content.innerHTML = `
      <div class="camaras">
        <div class="icon">
          <i aria-hidden="true" class="fa fa-icon fa-${property.type}" title="${property.type}"></i>
          <span class="fa-sr-only">${property.type}</span>
        </div>
        <div class="details">
          <iframe src=${property.url} width="400px" height = "250px" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
      `;
    return content;
  }

  const properties = [
    {
      address: "Camara Calle Madero",
      type: "video",
      url: "https://www.youtube.com/embed/2pd8Ah7teLg?si=54bxm7A5xW3SF2Pp",
      position: {
        lat: 19.433616,
        lng: -99.1372766,
      },
    },
  ];

  window.initMap = initMap;

  </script>
  <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: "{{ MAPS_API_KEY }}", v: "weekly"});</script>

  <script src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&callback=initMap&v=weekly" defer></script>  

</body>
</html>