<html>
  <head>
    <title>Simple Polylines</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css"/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
    <script>
      const velocidades = {{ velocidades | tojson }};  // Convertir velocidades a JSON válido
      const FeatureCollection = {{ FeatureCollection | tojson }};  // Convertir FeatureCollection a JSON válido
      const markersData = {{ markersData | tojson }};  // Convertir m a JSON válido
    </script>
    <script type="module" src="/static/js/index.js"></script>

  </head>
  <body>
    <h1>Trafico en la condesa el día: {{fecha}} a las {{hora}}</h1>
    <div class="controler">
      <form action="/" method="POST">
        <div class="date">
          <label for="date">Escoge el día:</label>
          <select name="date" id="date">
            {% for date in dias %}
              <option value="{{ date }}">{{ date }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="hour">
          <label for="hour">Selecciona la hora (24hrs):</label>
          <input type="number" name="hour" id="hour" min="0" max="23" required>
        </div>
        <input type="submit" value="Submit" class="submit">
      </form>
    </div>
    <div id="map"></div>
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
      ({key: "{{ MAPS_API_KEY }}", v: "weekly"});</script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&callback=initMap&v=weekly" defer></script>  
  </body>
</html>