<html>
  <head>
    <title>Simple Polylines</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css"/>
  </head>
  <body>
    <h1>Trafico en la condesa el día: {{fecha}} a las {{hora}}</h1>
    <div class="controler">
      <form action="/" method="POST">
        <div class="date">
          <label for="date">Escoge el día:</label>
          <select name="date" id="date">
            {% for date in dias %}
              <option value="{{ date }}">{{ date }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="hour">
          <label for="hour">Selecciona la hora (24hrs):</label>
          <!--Limitar input a un numero del 1 al 24-->
          <input type="number" name="hour" id="hour" min="0" max="23" required>
        </select>
        </div>
      
        <input type="submit" value="Submit" class="submit">
      </form>
      
    </div>
    <div id="map"></div>
    
    <script>
      const coords = {{ coords | tojson }};  // Convertir coordenadas a JSON válido
      const velocidades = {{ velocidades | tojson }};  // Convertir velocidades a JSON válido

      function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: coords[0][0].lat, lng: coords[0][0].lng },
            zoom: 14,
            mapTypeId: "terrain",
        });

        const lineSymbol = {
            path: google.maps.SymbolPath.CIRCLE,
            scale: 4,
            strokeColor: "#393",
        };


    coords.forEach((lineCoords, index) => {
        const line = new google.maps.Polyline({
            path: lineCoords,
            icons: [{ icon: lineSymbol, offset: "0%" }],
            map: map,
        });

        animateCircle(line, velocidades[index]); 
    });

    }

    function animateCircle(line, velocidad) {
        let count = 0;

        window.setInterval(() => {
            count = (count + velocidad) % 100;

            const icons = line.get("icons");
            icons[0].offset = count + "%";
            line.set("icons", icons); 
        }, 20); 
    } 

    window.initMap = initMap;

  </script>  
  <script src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&callback=initMap&v=weekly" defer></script>  
</body>
</html>