<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Subir Imagen para Predicción</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css"/>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/4/47/Logo_del_ITESM.svg">
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        #preview {
            max-width: 300px;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <div class="back">
        <a href="{{ url_for('index') }}" class="boton-regreso">Regresar</a>
    </div>
    <h1>Sube una Imagen</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <input type="submit" value="Procesar Imagen">
    </form>

    <img id="preview" src="" style="display:none;">

    {% if prediction %}
    <div>
        <h2>Predicción:</h2>
        <p>Hay un {{ prediction*1000 }}% de probabilidad de ser un melanoma</p>
    </div>
    {% endif %}

    <script>
        // Vista previa de la imagen
        document.querySelector('input[type="file"]').addEventListener('change', function(e) {
            var preview = document.getElementById('preview');
            var file = e.target.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
                preview.style.display = 'block';
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.style.display = 'none';
            }
        });
    </script>
</body>
</html>